- $pagetitle = "My Daily Commute"
.container
  .post
    .title I catch the 9:12 inbound metra train at the 55th/56th/57th street station
    .picture
      %img{src: "images/train.png", height: "260"}
  .post
    .title I exit the train at Randolph & Michigan and walk to Dearborn
    .picture
      %img{src: "images/michigan.png", height: "260"}
  .post
    .title I catch either the 36 or the 22 bus at Randolph & Dearborn
    .picture
      %img{src: "images/dearborn.png", height: "260"}