- $pagetitle = "FAQ"
.container
  .post
    .title What is May project?
    .content
      May Project, a long-established tradition at my high school, lets seniors do independent work duing May. It draws upon the skills we have developed in high school and allows us to apply them outside the classrom. At the end of May Project, we share our experiences with the school through classroom presentations.
    %h2 