- $pagetitle = "FAQ"
.container
  .post
    .title What is May Project?
    .content
      May Project, a long-established tradition at my high school, lets seniors do independent work duing May. It draws upon the skills we have developed in high school and allows us to apply them outside the classrom. At the end of May Project, we share our experiences with the school through classroom presentations.
  .post
    .title What was YOUR May Project?
    .content
      For my May Project, I interned with Kunal Bhat, who works at
      %a{href:'http://dscout.com'} dscout
      , which is part of
      %a{href:'http://gravitytank.com'}> gravitytank. 
      Under the guidance of Kunal, I built this blog using sinatra, ruby and haml. I shared my code on github and learned a lot about debugging by making lots of errors. I also made a Lollapalooza app, which you should check out and use.
  .post
    .title What made you choose this May Project?
    .content
      I will be concentrating in computer science in the Fall at Brown University and I hope to someday have or work at a tech startup. I've never done an internship or had a job besides babysitting and teaching swimming and I thought May Project would be a great opportunity to see what working at a startup is like. Being at gravitytank and meeting its employees has been inspiring and valuable for me.