%h1
	.top
		This is my May Project.
%br
/%img{src: "images/nutella.png"}
.navbar
	%ul
		%a{href: "http://cs.ucls.uchicago.edu/~mcharle"} Me
	%ul 
		%a{href: "http://cs.ucls.uchicago.edu/~mcharle/phpTest/login.php"} Fettc
	%ul 
		%a{href: "about.haml"} About

