%html
  %head
    %link{rel: 'stylesheet', href: '/style.css'}
  %body
    .container
      .top
        %h1= @pagetitle
      %br
      /%img{src: "images/nutella.png"}
      .navbar
        %ul
          %a{href: "http://cs.ucls.uchicago.edu/~mcharle"} Me
        %ul 
          %a{href: "http://cs.ucls.uchicago.edu/~mcharle/phpTest/login.php"} Fettc
        %ul 
          %a{href: "/commute"} Commute
        %ul 
          %a{href: "/faq"} FAQ
        %ul 
          %a{href: "/"} Home

      =yield