.container
  %br
  %form{action: "/post/create", method: "post", enctype: "multipart/form-data"}
    Title:
    %input{type: "text", name: "title", placeholder: "title"}
    %br
    / Date:
    / %input{type: "date", name: "date"}
    / %br
    / Time:
    / %input{type: "time", name: "time"}
    / %br
    Date/Time:
    %input{type: "datetime-local", name: "datetime"}
    %br
    Content:
    %br
    %textarea{name: "content", rows: "10", cols: "20"}
    %br
    %input{type: "file", name: "image"}
    %br
    %input{type: "submit", value: "Create Post"}