- $pagetitle = "New Post"
.container
  %form{:action => "/post/create", :method => "post"}
    Title:
    %input{:type => "text", :name => "title", :placeholder => "title"}
    %br
    Date:
    %input{:type => "date", :name => "date"}
    %br
    Content:
    %br
    %textarea{:name => "content", :rows => "10", :cols => "20"}
    %br
    %input{:type => "submit", :value => "Create Post"}