$blue: #3BBFCE;
$margin: 16px;
$purple: #7D26CD;
$green: #9CBA7F;
$white: #FFF;
$red: #F00;
$grey: #666;

body {
  //width: 90%;
  font-family: Corbel;
}
h1 {
  color: $grey;
  font-size: 50px;
}

.button{

}

.top {
  //background-color: $blue;
  height: 80px;
  //width: 85%;
  text-align: center;
  margin-top: 50px;
}
a {
  color: $red;
  text-decoration: none;
  font-size: 20px;
}

img {
  max-width: 300px;
  overflow: hidden;
}
.sidebar {
  float: right;
  min-height: 200px;
  width: 13.95%;
  padding: 5px;
  margin-right: 40px;
  margin-top: 20px;
  position: static;
  border-color: $grey;
  border-radius: 10px;
  border-style: solid;
  .title {
    font-size: 20px;
    float: center;
    color: #000;
    text-align: justify;
  }
  .content {
    font-size: 12px;
  }
}

.navbar {
  float: center;
  //width: 10%;
  height: 30px;
  border-bottom-style: dashed;
  border-bottom-color: $grey;
  padding: 10px;
  position: static;
  ul {
    float: left;
  }
}

.post {
  //background-color: $green;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 650px;
  float: left;
  padding: 10px;
  //border-radius: 10px;
  min-height: 250px;
  border-bottom-style: dashed;
  border-bottom-color: $grey;
  .content{
    //background-color: #FFAA00;
    padding: 10px;
    margin: 20px;
  }
  .thumbnail{
    padding: 10px;    
    width: 60px;
    border-radius: 10px;
  }
  .button{
    float: left;
    width: 60px;
    height: 30px;
    font-family: Corbel;
    font-size: 12px;
  }
  .picture{
    //background-color: $purple;
    width: 250px;
    height: 260px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
  }
  .date{
    border-color: #666666;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;
    width: 85px;
    height: 30px;
    padding: 2px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: $red;
    a{
      text-decoration: none;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.container{
  margin: 0 auto;
  width: 960px;
}